@model ainat_closet.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del País</h1>

<div>
    <h4>País</h4>
    <hr />
    
    <partial name="_CountryDetails" />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar País</a>
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    <a asp-action="AddState" class="btn btn-outline-primery">Agregar Departamento/Estado</a>
</div>
